.grid-container{
  display: grid;
  grid-template-columns: 30% auto;
}


ul {
  list-style: none;
  line-height: 1.5cm;
}

li {
  float:left;
}

a{
  color: black;
  font-weight: bold;
}

li a:hover {
  background-color: red;
}
